html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: #212121;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.side {
  width: 10%;
  background: pink;
}

.main {
  width: 40%;
  background: green;
}